<div class="w3-animate-top" style="margin-top: 50px;">

    <center><section class="columns" style="max-width: 40vw;">

            <div class="column">
                <h1>Update Mail</h1><br>
                <span style="color: green" id="changeMailMessage"></span>
                <form style="" method="get" action="javascript:void('')" id="changeMail">
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <input type="mail" name="name" id="new_mail" class="form-control validate" required>
                            <label data-error="wrong" data-success="right" for="new_mail">New Mail</label>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="submit" name="submit" class="button btn-success" value="submit">Update Mail</button>
                    </div>
                </form>

            </div>

            <div class="column">
                <h1>Update Password</h1><br>
                <span style="color: green" id="changePasswordMessage"></span>
                <form style="" method="get" action="javascript:void('')" id="changePassword">
                    <div class="modal-body mx-3">
                        <div class="md-form mb-5">
                            <input type="password" name="name" id="new_pw" class="form-control validate" required>
                            <label data-error="wrong" data-success="right" for="new_pw">New Password</label>
                        </div>

                        <div class="md-form mb-4">
                            <input type="password" name="password" id="new_pw_1" class="form-control validate" required>
                            <label data-error="wrong" data-success="right" for="new_pw_1">Repeat new Password</label>
                        </div>
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="submit" name="submit" class="button btn-success" value="submit">Update Password</button>
                    </div>
                </form>

            </div>

    </section></center>

</div>