.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 2%;
    width: 70%;
}

#scrolldown {
    height: 300px;
}

.column {
    flex: 1;
    margin: 2px;
    min-width: 200px;
    padding: 10px;
}

.column:hover {
    cursor: pointer;
}

.headerinfo:hover {
    box-shadow: 0px 16px 28px 0px rgba(0,0,0,0.2);
    transition: 1s;
    background-color: white;
    border-bottom-right-radius: 90px;
    border-top-left-radius: 90px;
}

.news {
    box-shadow: 0px 16px 28px 0px rgba(0,0,0,0.2);
    transition: 1s;
    background-color: white;
    border-bottom-right-radius: 90px;
    border-top-left-radius: 90px;
    margin: 3%;
}

.teamler {
    padding-top: 20px;
}

.teamler:hover {
    box-shadow: 0px 16px 28px 0px rgba(0,0,0,0.2);
    transition: 1s;
    background-color: white;
    border-bottom-right-radius: 90px;
    border-top-left-radius: 90px;
}