.navHome {
    color: black !important;
    position: fixed;
    top: 0;
    width: 100%
}

.featureColumns {
    width: 87% !important;
    padding-top: 2%;
}

.footerContainer {
    background-color: #212121;
    padding: 2% 5% 1%;
    margin-top: 0 !important;
    color: white !important;
}

.imprintButton {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.header {
    background-color: #303030;
    width: 100% !important;

    background-image: url('/assets/images/countryBackground.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left 160% bottom 76%;

    color: white !important;
    filter: brightness(100%);
    padding: 60px 0 0 !important;
}

.passwordCheck {
    background-color: #303030;
    width: 100% !important;

    background-image: url('/assets/images/countryBackground.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left 160% bottom -40%;

    color: white !important;
    filter: brightness(100%);
    padding: 60px 0 0 !important;
}

@media screen and (max-width: 440px) {
    .header {
        background-position: center center;
    }
}

.modal-content {
    background-color: #424242 !important;
}
