<img src="https://camo.githubusercontent.com/e95ae766bec126e8c7e80228c2b04a5d2de41192475fc03bf889e7f8a92a0a65/68747470733a2f2f692e696d6775722e636f6d2f4742774d7848472e706e67" width="1500px" height="500px">

<h1>Hi <%= username %></h1>

<p>Please click on the following link to reset your password of your lnkdto.link Account:</p>
<a href="<%= link %>"><%= link %></a><br><br>

<i>You didn't request the Password change? Please change your password immediately!</i>