<div class="jumbotron text-center text-center m-0 d-flex flex-column justify-content-center header " class="header">
    <h1 class="responsivetext1 w3-animate-top" style="font-size: 56px">Cut your links shorter.</h1>
    <center><div class="content column" style="margin: 30px; max-width: 50%;" id="header_form">

            <form method="get" action="javascript:void('')" id="url_shorting">
                <div id="longUrlField" class="form__group field">
                    <input id="longUrl" type="input" class="form__field" placeholder="<%- _lang("header.longUrl"); %>" name="url" required="">
                    <label id="longUrlMessage" for="name" class="form__label"><%- _lang("header.longUrl"); %></label>
                </div>
                <br>

                <p><button type="submit"><%- _lang("header.button"); %></button></p>
            </form>
        </div></center>
</div>