<meta charset="UTF-8">
<title>lnkdto.link</title>

<meta name="description" content="Wilkommen auf der Webseite von Jan Stöck!">
<meta name="keywords" content="Jan Stöck">
<meta name="author" content="CraftException">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="assets/style/grid.css">
<link rel="stylesheet" href="assets/style/navbar.css">
<link rel="stylesheet" href="assets/style/index.css">
<link rel="stylesheet" href="assets/style/loader.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="icon" type="image/x-icon" href="assets/images/start/paper.png"/>
<link rel="shortcut icon" type="image/x-icon" href="assets/images/start/paper.png"/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">