<div class="jumbotron text-center text-center m-0 d-flex flex-column justify-content-center header " class="header">
    <h1 class="responsivetext1 w3-animate-top" style="font-size: 56px">Cut your links shorter.</h1>
</div>