<nav id="navHome" class="navHome navbar navbar-expand-lg navbar-light sticky-top">
    <div class="container-fluid max-width-940">
        <a class="navbar-brand" href="index" class="foreColorNavbar" style="color: white;"> lnkdto.link </a>
        <button class="navbar-toggler togglerNoBorder" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse backgroundWhite" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.php" class="foreColorNavbar" style="color: white;">Startseite </a>
                </li>
                <li class="nav-item dropdown navDropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="foreColorNavbar" style="color: white;">
                        Account
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navDropdown" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" data-toggle="modal" data-target="#modelLoginForm" href="https://discord.gg/5eejwRJXBr">Anmelden</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#modalRegisterForm" href="leaderboard">Registrieren</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.youtube.com/channel/UC8RTnsV8q6cadjZhWYVRoKw" class="foreColorNavbar" style="color: white;">Statistiken</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.tiktok.com/@jan_stoeck?" class="foreColorNavbar" style="color: white;">GitHub</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/jan_stoeck_/" class="foreColorNavbar" style="color: white;">JuSoft</a>
                </li>
            </ul>
        </div>

    </div>
</nav>